body {
  font-family: "Cormorant Garamond", serif;
  font-family: "Playfair Display", serif;
  margin: 0px;
  background-color: #fff9f3;
  margin-top: 40px;
  scroll-behavior: smooth;
  margin-bottom: 80px;
}

::selection {
  background-color: #3b4518;
  color: white;
}

::-moz-selection {
  background-color: #3b4518;
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b4518;
  border-radius: 6px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  line-height: 1.2;
}

/* Menu */

.header {
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 300px;
}

.menu {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

#inicio-tradutor a,
#sobreMim a,
#contato a {
  color: rgb(47, 57, 15, 0.45);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

#inicio-tradutor a:hover,
#sobreMim a:hover,
#contato a:hover {
  color: #263008;
  cursor: pointer;
}

#projetos a {
  color: #263008;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

#detalhe {
  width: 50px;
  position: absolute;
  right: 485px;
  top: 65px;
}

#lang-btn {
  all: unset;
  cursor: pointer;
}

/* Menu */

/* Menu Mobile */
#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 1250px) {
  #logo span {
    display: none;
  }

  #detalhe {
    display: none;
  }

  .cabecalho {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
  }

  #cadastro {
    color: #00013e;
  }

  #login a {
    background-color: #00013e;
    color: white;
  }

  .cabecalho nav {
    display: absolute;
    width: 100%;
    height: 100%;
  }
  .menu-mobile {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    margin-bottom: 1000px;
    background-color: white;
    -index: 9999; /* muito acima dos outros elementos */
  }

  .menu-mobile li {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .menu-mobile li a {
    display: block;
    text-align: center;
    width: 100%;
  }
  .menu-icon {
    width: 50px;
    height: inherit;
    display: block;
    position: absolute;
    top: 40px;
    right: 30px;
    line-height: 60px;
    color: #00013e;
    z-index: 999;
  }

  #fechar-circulo {
    color: #00013e;
  }

  #menuToggle:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }

  #menuToggle:checked ~ ul {
    height: 100%;
  }
  .menu-icon i {
    font-size: 1.7em;
  }
}

/* PROJETOS */

#projetos-secao {
  display: grid;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  grid-template-columns: 1fr;
  gap: 60px;
}

.projetos-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.projeto-mockup {
  height: 730px;
  border-radius: 20px;
  margin: 0 auto;
}

.projeto-info {
  display: grid;
  align-content: center;
  justify-items: center;
  margin-left: 50px;
}

.projeto-info img {
  width: 250px;
  margin: 10px;
  margin-bottom: 40px;
}

#hr-logo {
  height: 110px;
  width: 300px;
}

#pbpt-logo {
  width: 300px;
}

.projeto-info p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  display: grid;
  gap: 15px;
  margin-bottom: 15px;
}

.projeto-tecnologias {
  display: flex;
  gap: 40px;
}

.projeto-tecnologias img,
.projeto-github a img {
  width: 50px;
  perspective: 1000px;
}

.imagem {
  transition: transform 0.3s;
}

.projeto-tecnologias img:hover {
  transform: rotateY(30deg);
}

.projeto-github {
  display: flex;
  align-items: center;
  gap: 10px;
}

.projeto-github a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.projeto-github a h2 {
  margin-bottom: 30px;
}

.projeto-github img {
  display: block;
}

.projeto-github h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  color: #222b06;
  margin: 0;
}

/* Formulario */

/* Botão de abrir */
.botao-contato {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #263008;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Fundo escuro */
.fundo {
  display: none; /* escondido inicialmente */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Caixa do formulário */
.formulario-contato {
  background: white;
  /* padding: 20px; */
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 40px;
}

.formulario-contato h2 {
  margin-top: 0;
  font-family: "Quicksand", sans-serif;
  color: #263008;
  margin-bottom: 30px;
}

.formulario-contato label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: #263008;
}

.formulario-contato input,
.formulario-contato textarea,
#botao-enviar {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#botao-enviar {
  margin-top: 15px;
  background: #263008;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

/* Botão fechar no canto superior direito da caixa */
.botao-fechar {
  background: #263008;
  color: #fff;
  cursor: pointer;
  justify-self: end;
  position: absolute;
  left: 335px;
  top: 45px;
  border-radius: 5px;
}

.botao-fechar:hover {
  background: #263008;
  color: #fff;
}

/* Footer */

#footer {
  margin-top: 40px;
  display: grid;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
}

#conversar {
  display: grid;
  margin-bottom: 60px;
  gap: 5px;
}

.conversar-titulo {
  font-size: 2.5rem;
  font-family: "Cormorant Garamond", serif;
  color: #222b06;
  font-weight: 400;
}

.conversar-texto {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  color: rgb(34, 43, 6, 0.7);
}

.conversar-email {
  color: #222b06;
}

#links {
  display: flex;
  gap: 70px;
  margin-bottom: 60px;
}

#links a {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  color: #222b06;
}

#fim {
  display: grid;
  gap: 60px;
}

#fim p {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  color: rgb(34, 43, 6, 0.7);
  font-weight: 100;
}

#lucas {
  color: #222b06;
}

#seta {
  position: absolute;
  right: -4px;
  width: 40px;
  bottom: 130px;
}
